
{{ define "navbar" }}
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-comments-o"></i>
        X
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
        <li><a href="/admin">后台</a></li>
      </ul>
      <span><i class="fa fa-user-circle pull-right"></i></span>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">
          <i class="fa fa-user"></i>
        </a></li>
        <li><a href="/logout">退出</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
